:root {
    --white: #F8F8F2;
    --black: #272822;
    --pink: #F92672;
    --blue: #66D9EF;
    --green: #A6E22E;
    --orange: #FD971F;
}
* {
    box-sizing: border-box;
}
body {
    tab-size: 2;
}
ul, ol, li {
    list-style: none;
    padding-left: 0.4em;
    margin: 0;
}
p {
    margin: 0.8em 0;
}
pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.pink {
    color: var(--pink) !important;
}
.orange {
    color: var(--orange) !important;
}
.blue {
    color: var(--blue) !important;
}
.green {
    color: var(--green) !important;
}

.btn {
    display: inline-block;
    border: solid 1px var(--white);
    border-radius: none;
    padding: 0.8em;
    outline: none;
    width: 100%;
}
.label {
    height: 2.4em;
    line-height: 2.4em;
}
a:link,
a:visited,
.reset {
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
    background: var(--black);
    color: var(--white);
}
.input {
    width: 100%;
    min-width: 100%;
    border: solid 1px var(--white);
    outline: none;
    padding: 0.4em;
}
a:hover,
a:active,
.btn:active,
.active {
    color: var(--blue);
}
.input:focus {
    border: solid 1px var(--blue);
}

.btn:disabled {
    opacity: 0.3;
}
.input:focus {
    border: solid 1px var(--blue);
}

#editor,
#console {
    min-height: 20vh;
}
#console {
    overflow-y: scroll;
    height: 20vh;
    background: rgba(0, 0, 0, 0.25);
}
#tree {
    line-height: 1.6em;
    margin: 16px 0;
}
#status {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    #app {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #sidebar {
        width: 25vw;
    }
    #content {
        width: 70vw;
    }
    #editor {
        height: 60vh;
    }
}
